/* -------------------------------- 

File#: _1_scribble-background-decoration
Title: Scribble Background Decoration
Descr: A collection of scribble background decorations
Usage: codyhouse.co/license

-------------------------------- */

.scribble-bg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scribble-bg__svg {
  position: absolute;
  width: 134%;
  min-width: 1280px;
  max-width: 1920px;
  height: auto;
}